<% provide(:title, "Edit Book - #{@book.title}") %>

<%= pretty_timestamp(@book, 'book') %>

<ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
  <li class="active"><a href="#book" data-toggle="tab">Book Details</a></li>
  <li><a href="#loan" data-toggle="tab">Loan Details</a></li>
  <li><a href="#amazon" data-toggle="tab">Amazon Details</a></li>
</ul>

<%= render 'form' %>

<script type="text/javascript">
    jQuery(document).ready(function ($) {
        $('#tabs').tab();
    });
</script>
