<br>

<!--
 <footer class="footer">
   <div class="container">
     <p class="text-muted">
       Wow, page rendered in <%= sprintf('%.3f', (Time.now.usec - @start_time).abs / 1000000.0) %> seconds.</p>
     </p>
   </div>
 </footer>
-->
